@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-card {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .glass-panel {
    @apply bg-surface-gray/80 backdrop-blur-sm border-t border-white/50;
  }
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  @apply text-text-main bg-surface-gray;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}